<div class="component-inner wordsearch-inner">
    {{> component this}}
    <div class="component-widget">
        <div class="wrap">
            <section id="ws-area"></section>
            <ul class="ws-words"></ul>
        </div>
    </div>
</div>